In [1]:
import numpy as np
import pandas as pd
import json
import urllib.request

In [2]:
app_eventsData = pd.read_csv('../Data/app_events.csv')
app_labelsData = pd.read_csv('../Data/app_labels.csv')
eventsData = pd.read_csv('../Data/events.csv')
trainFile = pd.read_csv('../Data/gender_age_train.csv')
testFile = pd.read_csv('../Data/gender_age_test.csv')
label_categoriesData = pd.read_csv('../Data/label_categories.csv')
phone_brand_device_modelData = pd.read_csv('../Data/phone_brand_device_model.csv',encoding='utf-8')
phone_brand_device_modelData = phone_brand_device_modelData.drop_duplicates('device_id',keep='first')

In [3]:
print(trainFile.shape)#(74645,4)
trainFile[0:1]

(74645, 4)

             device_id gender  age   group
0 -8076087639492063270      M   35  M32-38

In [4]:
print(testFile.shape)#(112071,1)
testFile[0:1]

(112071, 1)

             device_id
0  1002079943728939269

In [5]:
#Understanding Target Value Characteristics(Regression w.r.t. Age, Classification w.r.t. Gender)
trainGrpBy=trainFile.groupby("group")
trainGroups=trainGrpBy.groups
trainGroupTup=[(key,len(trainGroups[key])) for key in trainGroups.keys()]
print(trainGroupTup)
#Female Groups are : F23-,F24-26,F27-28,F29-32,F33-42,F43+
#Male Groups are : M22-,M23-26,M27-28,M29-31,M32-38,M39+
males=0
females=0
for pair in trainGroupTup:
    if pair[0].find('M')==0:
        males+=pair[1]
    else:
        females+=pair[1]
print('Males ',males,' Females ',females)#In the Classification task we can slightly adjust the class weights

[('F23-', 5050), ('M22-', 7488), ('F24-26', 4190), ('M39+', 8581), ('M27-28', 5445), ('F33-42', 5561), ('F27-28', 3118), ('F29-32', 4628), ('M29-31', 7309), ('M32-38', 9476), ('F43+', 4194), ('M23-26', 9605)]
Males  47904  Females  26741

In [6]:
#len(trainFile.groupby('device_id').groups.keys())#Number of unique device_ids: 74645 i.e. All device_id are unique

In [7]:
trainFile.describe()#Interesting we have a Kid of Age 1 and grandpa having age 96 using Mobile Device :-)
#But Most of the users are withing age group 25 to 36
#We need to see if Any particular Device is popular amongst Kids/Senior Citizens/Male/Female

          device_id           age
count  7.464500e+04  74645.000000
mean  -7.491354e+14     31.410342
std    5.327150e+18      9.868735
min   -9.223067e+18      1.000000
25%   -4.617367e+18     25.000000
50%   -1.841362e+16     29.000000
75%    4.636656e+18     36.000000
max    9.222849e+18     96.000000

In [8]:
print(eventsData[0:2])
#eventsData.describe()
print(len(set(list(eventsData.event_id))),eventsData.shape)
#event_id is PK here(Total 3252950 Unique Events;device_id may get duplicated)
#longitude: -180 to 174.76 : Continuous
#latitude: -38.4 to 59.94 : Continuous
#Movement may have effect : Elder People won't be moving too much

   event_id            device_id            timestamp  longitude  latitude
0         1    29182687948017175  2016-05-01 00:55:25     121.38     31.24
1         2 -6401643145415154744  2016-05-01 00:54:12     103.65     30.97
3252950 (3252950, 5)

In [9]:
#As expected => Very High Correlation between longitude and latitude : 0.948782
eventsData.corr()

           event_id  device_id  longitude  latitude
event_id   1.000000  -0.000005  -0.000270 -0.000466
device_id -0.000005   1.000000  -0.011009 -0.005067
longitude -0.000270  -0.011009   1.000000  0.948782
latitude  -0.000466  -0.005067   0.948782  1.000000

In [10]:
app_eventsData[0:1]

   event_id               app_id  is_installed  is_active
0         2  5927333115845830913             1          1

In [11]:
#appDataGrpByObj=app_eventsData.groupby('app_id')
#eventsDataGrpByObj=app_eventsData.groupby('event_id')
#isActiveGrpByObj=app_eventsData.groupby('is_active')
#isInstalledGrpByObj=app_eventsData.groupby('is_installed')
#app_event_GrpByObj=app_eventsData.groupby(['app_id','event_id'])
#No Single PK for the Table app_events: (app_id,event_id) together makes the PK
#2 Categorical Variables : is_active and is_installed
#2 Continuous but Identity Columns : app_id and event_id

In [12]:
#print(len(appDataGrpByObj.groups),len(app_eventsData))#19237,32473067
#print(len(eventsDataGrpByObj.groups))#1488096
#print(len(app_event_GrpByObj.groups))#32473067
#print(len(isActiveGrpByObj.groups),len(isInstalledGrpByObj.groups))#2,1

In [11]:
app_labelsData[0:1],app_labelsData.shape

(                app_id  label_id
 0  7324884708820027918       251, (459943, 2))

In [14]:
#app_idGrpByObj=app_labelsData.groupby('app_id')
#label_idGrpByObj=app_labelsData.groupby('label_id')
#print(len(app_idGrpByObj.groups),len(label_idGrpByObj.groups),len(app_labelsData)) #113211 507 459943
#No PK for app_labels Table
#app_labelsData.describe()
#label_id is between 251 to 691
#app_id is between -9.21e18 to 9.22e18

In [15]:
label_categoriesData[0:1]

   label_id category
0         1      NaN

In [16]:
#label_categoriesData.describe()#label_id is from 1 to 1021
#categoryGrpByObj=label_categoriesData.groupby('category')
#labelidGrpByObj=label_categoriesData.groupby('label_id')
#print(len(categoryGrpByObj.groups),len(labelidGrpByObj.groups),len(label_categoriesData))#835,930,930
#label_id is PK for label_categories table
#print(categoryGrpByObj.groups)#Mostly there is On-to-One association between category and label_id; However there
#are excptions(1:N) like 'Financial Information': [143, 708, 921]
#Thought point: Not sure: If we will like to comeup with another category ourself with more generic categories
# In the subset of data number of categories are 835: Hopefullt their count is almost same for the entire dataset as well

In [3]:
#phone_brand_device_modelData=pd.read_csv("phone_brand_device_model.csv")
phone_brand_device_modelData[0:5]

             device_id phone_brand   device_model
0 -8890648629457979026          小米             红米
1  1277779817574759137          小米           MI 2
2  5137427614288105724          三星      Galaxy S4
3  3669464369358936369       SUGAR           时尚手机
4 -5019277647504317457          三星  Galaxy Note 2

In [8]:
print(phone_brand_device_modelData.shape)
#p_b_d_m_grpby_d=phone_brand_device_modelData.groupby('device_id')
#p_b_d_m_grpby_p_b=phone_brand_device_modelData.groupby('phone_brand')
p_b_d_m_grpby_d_m=phone_brand_device_modelData.groupby('device_model')

(186716, 3)

In [9]:
p_b_d_m_grpby_p_b=9
len(p_b_d_m_grpby_d_m)

1599

In [18]:
def getEngTranslationFromChinese(qry):
    qry=urllib.parse.quote(qry)
    url="https://www.googleapis.com/language/translate/v2?key=AIzaSyAIIef8BbJkC4zdsiPmZuHnutbkAL1_2zE&q="+qry+"&source=zh&target=en"
    req = urllib.request.Request(url)
    with urllib.request.urlopen(req) as response:
        result = response.read().decode('utf-8')
        return result
def convertChineseToEnglish(qry):
    if(len(qry)<1 or ord(qry[0])<=122):#English Only
        return qry
    result=getEngTranslationFromChinese(qry)
    strToFind='"translatedText":'
    keyStartsAt=result.find(strToFind)
    keyEndsAt=keyStartsAt+len(strToFind)
    valueStartsAt=keyEndsAt+2
    valueStartsWithStr=result[valueStartsAt:]
    valueEndsAt=valueStartsWithStr.find('"')
    value=valueStartsWithStr[:valueEndsAt]
    return value

In [20]:
chinestToEnglishDict={}
with open("ChineseToEnglishDict") as f:
    for line in f:
       (key, val) = line.split()
       chinestToEnglishDict[key] = val
#print(chinestToEnglishDict)

In [21]:
def convertChineseToEnglishUsingMap(x):
    convertedVal=chinestToEnglishDict.get(x)
    if convertedVal==None:
        return x
    return convertedVal
#englishPhoneBrands=phone_brand_device_modelData.phone_brand.apply(convertChineseToEnglishUsingMap)#Assign It back to DF
englishPhoneBrands=phone_brand_device_modelData.phone_brand.apply(convertChineseToEnglish)#Assign It back to DF
phone_brand_device_modelData.phone_brand=englishPhoneBrands
#englishDeviceModels=phone_brand_device_modelData.device_model.apply(convertChineseToEnglishUsingMap)#Assign It back to DF
englishDeviceModels=phone_brand_device_modelData.device_model.apply(convertChineseToEnglish)#Assign It back to DF
phone_brand_device_modelData.device_model=englishDeviceModels

In [22]:
phone_brand_device_modelDatand_device_modelData_brand_device_modelData.shape

(186716, 3)

In [24]:
phone_brand_device_modelData.shape#186716,3
phone_brand_device_modelData.to_csv("phone_brand_device_model_InEnglish.csv")

In [25]:
phone_brand_device_modelData

                  device_id  phone_brand     device_model
0      -8890648629457979026       Millet         Red rice
1       1277779817574759137       Millet             MI 2
2       5137427614288105724      Samsung        Galaxy S4
3       3669464369358936369        SUGAR   Fashion phones
4      -5019277647504317457      Samsung    Galaxy Note 2
5       3238009352149731868       Huawei             Mate
6      -3883532755183027260       Millet            MI 2S
7      -2972199645857147708       Huawei            G610S
8      -5827952925479472594       Millet      MI One Plus
9      -8262508968076336275         vivo              S7I
10      5840378295166286440      Samsung        Galaxy S3
11     -5776341595519925628       Millet            MI 2A
12      3437705102632680210      Samsung        Galaxy S3
13     -3568334676360016285      Samsung        Galaxy S3
14       556978549708484782       Millet             MI 2
15      5694497738268412307       Millet             MI 3
16      6327116114284382479       Huawei        G520-0000
17       773248989809697210         vivo            X5Pro
18      -686020914357018824       Millet            MI 2S
19      6936613487637228956        Meizu              MX2
20     -3875043166283300758      Samsung    Galaxy Note 2
21     -6964140211214884922       Millet            MI 2S
22       -30236203766311351       Millet            MI 2S
23      4887985552773989409         vivo            Xplay
24      7206202610070842107      Samsung    Galaxy Note 2
25       -39620037751344714       Millet            MI 2S
26      7223189369472462826         Cool             7270
27     -3998002640294516352   Amagatarai          Touch 3
28      2527845705328727233         OPPO            R2017
29     -3157952721100703520      Samsung    Galaxy Note 2
...                     ...          ...              ...
187214    42372237331287236         OPPO              R7s
187215  5227968728585496675         OPPO            R813T
187216  7793779831192048252         OPPO              R1S
187217  -744475600656645305      Samsung   Galaxy S7 Edge
187218  3608110452636220010       Nubian           My 布拉格
187219 -8618225365386360981           LG              L22
187220  2275764314427946733       Huawei           Mate 8
187221 -2334418817028672523         OPPO              A53
187222 -4449937638303316446       Huawei     Glory 6 plus
187223  1565799471880375963       Gionee            GN151
187224  7345944586031224659       Huawei        Ascend P8
187225 -8541422542047946093         OPPO           Find 5
187226 -4980799589632292473         Cool            5263S
187227 -4982005935723339332      TV Plus  Super Max phone
187228 -2200024706981051998       Millet    Red rice note
187229  4088225607463878385      Samsung    Galaxy Note 3
187230  4533938230389516114  Association  Gold fighter A8
187231  2991768363764912164      Samsung  Galaxy S6 Edge+
187232 -8903406387941280700         OPPO               R9
187233 -6424608528529231693       Millet   Red rice Note2
187234 -2998819981424937912      Samsung        Galaxy A8
187235  2397799423340611378      Samsung        Galaxy S5
187236  2639235301715597247         OPPO              A33
187237  3884484562161888663         OPPO             1100
187238 -6564340457392363163          ZTE           Axon天机
187239  3210973037848940984       Millet            MI 2S
187240  7979541072208733273       Millet             MI 4
187241  -187404680852357705       Millet       Red Rice 2
187242 -2718274279595622821       Millet             MI 3
187243  3098391762071677791         vivo               X1

[186716 rows x 3 columns]

In [26]:
#Concatenating TrainFile with Device Information
train_device = pd.concat([trainFile, phone_brand_device_modelData], axis=1, join_axes=[trainFile.index])
train_device[0:4]

,device_id,gender,age,group,device_id,phone_brand,device_model
0,-8076087639492063270,M,35,M32-38,-8.890649e+18,Millet,Red rice
1,-2897161552818060146,M,35,M32-38,1.277780e+18,Millet,MI 2
2,-8260683887967679142,M,35,M32-38,5.137428e+18,Samsung,Galaxy S4
3,-4938849341048082022,M,30,M29-31,3.669464e+18,SUGAR,Fashion phones

In [27]:
#Concatenating Train File With Events Information
train_device_events = pd.concat([train_device, eventsData], axis=1, join_axes=[train_device.index])
train_device_events[0:4]

,device_id,gender,age,group,device_id,phone_brand,device_model,event_id,device_id,timestamp,longitude,latitude
0,-8076087639492063270,M,35,M32-38,-8.890649e+18,Millet,Red rice,1,29182687948017175,2016-05-01 00:55:25,121.38,31.24
1,-2897161552818060146,M,35,M32-38,1.277780e+18,Millet,MI 2,2,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97
2,-8260683887967679142,M,35,M32-38,5.137428e+18,Samsung,Galaxy S4,3,-4833982096941402721,2016-05-01 00:08:05,106.60,29.70
3,-4938849341048082022,M,30,M29-31,3.669464e+18,SUGAR,Fashion phones,4,-6815121365017318426,2016-05-01 00:06:40,104.27,23.28

In [28]:
#Collecting All APP Specific Information i.e. app info with label information
app_events_labels=pd.concat([app_eventsData,app_labelsData],axis=1,join_axes=[app_eventsData.index])
app_events_labels[0:3]

,event_id,app_id,is_installed,is_active,app_id,label_id
0,2,5927333115845830913,1,1,7.324885e+18,251.0
1,2,-5720078949152207372,1,0,-4.494217e+18,251.0
2,2,-1633887856876571208,1,0,6.058196e+18,406.0

In [29]:
app_events_labels_category=pd.concat([app_events_labels,label_categoriesData],axis=1,join_axes=[app_events_labels.index])
app_events_labels_category[0:3]

,event_id,app_id,is_installed,is_active,app_id,label_id,label_id,category
0,2,5927333115845830913,1,1,7.324885e+18,251.0,1.0,NaN
1,2,-5720078949152207372,1,0,-4.494217e+18,251.0,2.0,game-game type
2,2,-1633887856876571208,1,0,6.058196e+18,406.0,3.0,game-Game themes

In [30]:
#Concatenating Device Information with App Information
train_device_events_app=pd.concat([train_device_events,app_events_labels_category],
                                  axis=1,join_axes=[train_device_events.index])
train_device_events_app[0:4]

,device_id,gender,age,group,device_id,phone_brand,device_model,event_id,device_id,timestamp,longitude,latitude,event_id,app_id,is_installed,is_active,app_id,label_id,label_id,category
0,-8076087639492063270,M,35,M32-38,-8.890649e+18,Millet,Red rice,1,29182687948017175,2016-05-01 00:55:25,121.38,31.24,2,5927333115845830913,1,1,7.324885e+18,251.0,1.0,NaN
1,-2897161552818060146,M,35,M32-38,1.277780e+18,Millet,MI 2,2,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97,2,-5720078949152207372,1,0,-4.494217e+18,251.0,2.0,game-game type
2,-8260683887967679142,M,35,M32-38,5.137428e+18,Samsung,Galaxy S4,3,-4833982096941402721,2016-05-01 00:08:05,106.60,29.70,2,-1633887856876571208,1,0,6.058196e+18,406.0,3.0,game-Game themes
3,-4938849341048082022,M,30,M29-31,3.669464e+18,SUGAR,Fashion phones,4,-6815121365017318426,2016-05-01 00:06:40,104.27,23.28,2,-653184325010919369,1,1,6.058196e+18,407.0,4.0,game-Art Style

In [31]:
train_device_events_app.to_csv("DeNormalizedTrainingData.csv")

In [32]:
#Concatenating TrainFile with Device Information
test_device = pd.concat([testFile, phone_brand_device_modelData], axis=1, join_axes=[testFile.index])
test_device[0:4]

             device_id     device_id phone_brand    device_model
0  1002079943728939269 -8.890649e+18      Millet        Red rice
1 -1547860181818787117  1.277780e+18      Millet            MI 2
2  7374582448058474277  5.137428e+18     Samsung       Galaxy S4
3 -6220210354783429585  3.669464e+18       SUGAR  Fashion phones

In [33]:
#Concatenating Train File With Events Information
test_device_events = pd.concat([test_device, eventsData], axis=1, join_axes=[test_device.index])
test_device_events[0:4]

,device_id,device_id,phone_brand,device_model,event_id,device_id,timestamp,longitude,latitude
0,1002079943728939269,-8.890649e+18,Millet,Red rice,1,29182687948017175,2016-05-01 00:55:25,121.38,31.24
1,-1547860181818787117,1.277780e+18,Millet,MI 2,2,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97
2,7374582448058474277,5.137428e+18,Samsung,Galaxy S4,3,-4833982096941402721,2016-05-01 00:08:05,106.60,29.70
3,-6220210354783429585,3.669464e+18,SUGAR,Fashion phones,4,-6815121365017318426,2016-05-01 00:06:40,104.27,23.28

In [34]:
#Concatenating Device Information with App Information
test_device_events_app=pd.concat([test_device_events,app_events_labels_category],
                                  axis=1,join_axes=[test_device_events.index])
test_device_events_app[0:4]

,device_id,device_id,phone_brand,device_model,event_id,device_id,timestamp,longitude,latitude,event_id,app_id,is_installed,is_active,app_id,label_id,label_id,category
0,1002079943728939269,-8.890649e+18,Millet,Red rice,1,29182687948017175,2016-05-01 00:55:25,121.38,31.24,2,5927333115845830913,1,1,7.324885e+18,251.0,1.0,NaN
1,-1547860181818787117,1.277780e+18,Millet,MI 2,2,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97,2,-5720078949152207372,1,0,-4.494217e+18,251.0,2.0,game-game type
2,7374582448058474277,5.137428e+18,Samsung,Galaxy S4,3,-4833982096941402721,2016-05-01 00:08:05,106.60,29.70,2,-1633887856876571208,1,0,6.058196e+18,406.0,3.0,game-Game themes
3,-6220210354783429585,3.669464e+18,SUGAR,Fashion phones,4,-6815121365017318426,2016-05-01 00:06:40,104.27,23.28,2,-653184325010919369,1,1,6.058196e+18,407.0,4.0,game-Art Style

In [35]:
test_device_events_app.to_csv("DeNormalizedTestData.csv")

In [36]:
qryC='三星'
result=convertChineseToEnglish(qryC)

In [89]:
result,len(result)

('Samsung', 7)

In [81]:
ord(q1[0]),ord('z'),ord('-'),ord('1'),ord('Z'),ord('#'),ord('A'),ord('a')

(19977, 122, 45, 49, 90, 35, 65, 97)